
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Home/About" style="background:yellow; top: 5%;left: 83%; position: absolute; width: 120px;" class="nav nav-pills nav-justified mb-3 nav-item nav-link active" id="tab-login">Hakkımızda</a>

<p id="infoOne" style=" position: absolute; display: block; top: 20%; left: 28%; width: 1000px; height: 400px; margin-top: 50px; font-size: 30px; color: #F9F6EE;">MITRE ATT&CK, bir siber güvenlik standartıdır. Bu standart, bir siber saldırının nasıl gerçekleştiğini anlamaya yardımcı olan bir katalog sağlar. Websitemiz, MITRE ATT&CK katalogunu kullanarak siber güvenlik profesyonellerine siber saldırıları simüle etme ve bu saldırılara karşı kendilerini nasıl koruyabileceklerini öğrenme imkanı sağlar. Bu özellikle, bir organizasyonun siber güvenlik sistemlerini test etmek ve zayıf noktalarını bulmak için yararlı olabilir. Bu sayede, organizasyonlar siber tehditlere karşı daha hazırlıklı hale gelebilir ve siber saldırıların etkilerini azaltabilirler.</p>